* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  background-color: black;
}

#home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.pexels.com/photos/28054/pexels-photo-28054.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  width: 100%;
  min-height: 100vh;
  background-color: black;
}

#nav {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

#nav img {
  width: 120px;
}

#nav #right {
  display: flex;
  align-items: center;
  gap: 30px;
}

#nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5vw;
  color: white;
  letter-spacing: -1px;
}

#nav a:hover {
  color: #007ac3;
  border-radius: 50%;
  box-shadow: 2px;
}

#home #homemain {
  width: 50%;
  background-color: #c5c6d0;
  padding: 3vw 5vw;
  color: red;
}

.about {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.home-sci a {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #007ac3;
  font-size: 20px;
  text-decoration: none;
  border-radius: 50%;
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  background: #007ac3;
  color: #080808;
  box-shadow: 0 0 20px #007ac3;
}

#homemain2 {
  display: flex;
  flex-direction: column;
}

#homemain2 .home-sci {
  display: inline-flex;
  gap: 5px;
  padding-left: 250px;
}

.h1 {
  color: rebeccapurple;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

.about-img {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text h2 {
  font-size: 32px;
  color: black;
}

.about-text h2 span {
  color: #007ac3;
}

.about-text p {
  color: black;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-left: 100px;
  padding-bottom: 10px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.services-list div {
  background-color: transparent;
  width: 100%;
  padding: 40px;
  font-size: 14px;
  font-weight: 14px;
  border-right: 1px;
  border-radius: 20px;
  transition: 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #007ac3;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 2px;
  width: 100%;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 2px;
}

.services-list div a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-top: 12px;
  display: inline-block;
}

.row {
  margin-top: 2rem;
  position: relative;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 40px;
  gap: 1px;
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.row img:hover {
  color: #007ac3;
  box-shadow: 0 0 50px #007ac3;
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
  margin-bottom: 20px;
}

.contact-left p i {
  color: #007ac3;
  margin-right: 25px;
  font-size: 25px;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
}

#msg {
  padding: 20px;
  color: yellow;
  margin-top: -10px;
  display: block;
}

.jai {
  margin-left: 100px;
}

.jaijai {
  margin-left: 100px;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 20px solid saddlebrown;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circular-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 20px solid saddlebrown;
}

.circular-image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.circular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gol-image {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
  cursor: pointer;
}

.btn-red {
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  background: #007ac3;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
  margin-left: 100px;
}

.btn-red:hover {
  box-shadow: 0 0 50px #007ac3;
}

.read {
  display: inline-block;
  padding: 22px 6px;
  margin-bottom: 20px;
  background: #007ac3;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
}

.read:hover {
  background: #007ac3;
  color: white;
  box-shadow: 0 0 30px #007ac3;
}

.read1 {
  display: inline-block;
  padding: 22px 6px;
  background: #007ac3;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
}

.read1:hover {
  background: #007ac3;
  color: white;
  box-shadow: 0 0 30px #007ac3;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  color: #007ac3;
}

.btn-box {
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  background: #007ac3;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}

.btn-box:hover {
  box-shadow: 0 0 50px #007ac3;
}

.container {
  padding-left: 20px;
  padding-right: 1px;
}

.span {
  color: #007ac3;
}

#contact {
  background-color: #c5c6d0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Z3ltfGVufDB8fDB8fHww");
}

.aboutpg .about-text {
  background-color: #c5c6d0;
}

.contact-left {
  color: yellow;
}

.sub-title4 {
  color: white;
  font-weight: 600;
}

.color-blue {
  color: #007ac3;
  font-weight: 600;
}

.services {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1574680096145-d05b474e2155?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.about {
  background-color: gray;
}
